.maincanvas { 
    position: absolute;
    border: 2px solid #000000;
    border-radius: 20px;
    top: 0.5%;
    width: 99%;
    height: 99%;
    background: linear-gradient(180deg, #664a7e, #463827);
}

h1, .title {
    position: absolute;
    left: 1%;
    top: 1%;
    color: #000000;
}

h1, .homebutton {
    position: absolute;
    top: 5.5%;
    color: #570041;
}

h2, .disclaimer {
    position: absolute;
    left: 1%;
    top: 15%;
}

body {
    overflow: hidden;
}