body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b0baff;
    color: #333;
    font-family: Arial, sans-serif;
}

h1 {
    position: absolute;
    top: 10px;
    font-size: 24px;
    text-align: center;
    width: 100%;
    color: #333;
}

canvas {
    border: 2px solid #333;
    background-color: rgb(255, 255, 255);
}
